.vs/
bin/
obj/
*.suo
*.VC.db
*.VC.opendb
*.*proj.user
*.DotSettings.user
*.userprefs

# NuGet Packages
*.nupkg
*.nuget.props
*.nuget.targets
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
